.home-about-card .about-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #f94d1c;
  transition: all .40s ease-in-out;
}

.home-about-card:hover .about-icon {
  background: #FFFFFF;
}

.home-about-card:hover .about-icon .icon-1 {
  display: block;
}

.home-about-card:hover .about-icon .icon-2 {
  display: none;
}

.home-about-card .about-icon .icon-1 {
  display: none;
}

.home-about-card .about-icon .icon-2 {
  display: block;
}

.home-about-card:hover h3 {
  color: #FFFFFF;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #f94d1c;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #f94d1c;
}

.images-area {
  border-radius: 100%;
}

.images-area img {
  border-radius: 100%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.about-badge {
  width: 155px;
  max-width: 100%;
  height: 155px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #f94d1c;
  position: absolute;
  bottom: 18px;
  left: 33px;
}

.badge-child {
  border: 2px dashed rgb(255, 255, 255);
  border-radius: 100%;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.badge-child h2 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.badge-child p {
  font-size: 18px;
  font-weight: medium;
  color: #fff;
  font-style: arial;
}

.about-shape-wrap {
  overflow: hidden;
  border-radius: 100%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.about-shape {
  width: 200px;
  height: 200px;
  background-color: #f94d1c;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  opacity: 0.5;
}

.about-media-play-wrap {
  transform: rotate(-90deg);
}

.about-media-play {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #6d6d6d;
  border-top-right-radius: 30%;
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
  z-index: 1;
  opacity: 0.6;
}

.about-media-play::before,
.about-media-play::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  border-top-right-radius: inherit;
  z-index: -1;
}

.about-media-play::before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translateY(-50%);
}

.about-media-play::after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translateX(50%);
}

.about-media-icon {
  position: absolute;
  top: 10px;
  left: 50px;
  transform: translateY(16%);
  width: 70px;
  height: 70px;
  /* / padding: 12px;/  */
  border-radius: 100%;
  color: white !important;
  border: 1px solid #fff;
  cursor: pointer;
}

svg.about-icon {
  padding: 10px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #f94d1c;
}