.navbar-wrapper {
  position: fixed;
  z-index: 99;
  padding: 20px 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}

.navbar-left-shape::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 17%;
  height: 100%;
  background-color: #f94d1c;
  z-index: -1;
}

@media only screen and (max-width: 2425px) and (min-width: 1900px) {
  .navbar-left-shape::before {
      width: 24%;
    }
}
@media only screen and (max-width: 1835px) and (min-width: 1475px) {
  .navbar-left-shape::before {
      width: 19%;
    }
}
@media only screen and (max-width: 1385px) and (min-width: 1286px) {
  .navbar-left-shape::before {
      width: 15%;
    }
}
@media only screen and (max-width: 1285px) and (min-width: 1280px) {
  .navbar-left-shape::before {
      width: 14%;
    }
}
@media only screen and (max-width: 1279px) and (min-width: 1230px) {
  .navbar-left-shape::before {
      width: 21%;
    }
}
@media only screen and (max-width: 1229px) and (min-width: 1200px) {
  .navbar-left-shape::before {
      width: 20%;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 1160px) {
  .navbar-left-shape::before {
      width: 20%;
    }
}
@media only screen and (max-width: 1159px) and (min-width: 1140px) {
  .navbar-left-shape::before {
      width: 18%;
    }
}
@media only screen and (max-width: 1899px) and (min-width: 1836px) {
  .navbar-left-shape::before {
      width: 23%;
    }
}
@media only screen and (max-width: 1060px) and (min-width: 1024px) {
  .navbar-left-shape::before {
      width: 14%;
    }
  }
@media only screen and (max-width: 1023px) and (min-width: 360px) {
  .navbar-left-shape::before {
      width: 100%;
    }
  }
  /* @media only screen and (min-width: 1060px) {
    .navbar-left-shape::before {
      width: 19%;
    }
  }
   @media only screen and (max-width: 1100px) {
    .navbar-left-shape::before {
      width: 14%;
    }
  } */
@media only screen and (max-width: 359px) {
  .navbar-left-shape::before {
      width: 100%;
    }
}


.navbar-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: #f94d1c;
  z-index: -1;
}

.navbar-wrapper::after {
  content: "";
  top: 0;
  right: 0;
  width: 16%;
  height: 5px;
  position: absolute;
  background: #f94d1c;
}

/* / navbar social /  */
li.nva-social-items {
  margin-right: 10px;
  transition: 0.5s;
}

.nav-social-icon {
  font-size: 18px;
}

.nva-social-items:hover {
  transform: rotate(360deg);
}

/* / navbar top search /  */
.navbar-top-search {
  top: -13px;
  right: 134%;
}

.navbar-top-search input {
  border: 1px solid #ddd;
  max-width: 0;
  width: 0;
  padding: 7px 7px 7px 43px;
  background: #fff;
  transition: 1s;
  opacity: 0;
  border-radius: 5px;
}

.add-search-box-in-navbar input {
  max-width: 100%;
  width: 300px;
  opacity: 1;
}

.navbar-search-icons-toggle {
  visibility: hidden;
  left: 0 !important;
  opacity: 1;
}

/* / navbar social /  */
.navbar-search-icon {
  position: relative;
  margin-left: 40px;
  z-index: 1;
}

.navbar-search-icon::after {
  position: absolute;
  content: "";
  top: -7px;
  left: -27px;
  width: 2px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  z-index: -1;
}

/* / navbar /  */

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: start;
}

li.nav-items {
  padding: 10px;
}

.nav-links {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.nav-links.active {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

/* / home-dropdown / */

 /* / .home-dropdown-ab /  */
 .home-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  left: 0;
  width: 300px;
  background: #f94d1c;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
  visibility: hidden;

  /* / .triangle-top { */
    left: 35px;
    text-align: center;
    transform: translate(-50%);
  }

  .triangle-top {
    position: relative;
    padding: 15px;
  }

  .triangle-top::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent #f94d1c transparent;
    position: absolute;
    bottom: 100%;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .home-dropdown-toggle {
    height: auto;
    overflow: unset;
    opacity: 1;
    visibility: visible;
    top: 60px;
    transition: 1s;
  }

  .home-dropdown .nav-items {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    /* / cursor: pointer; */
  }

  .home-dropdown .nav-links {
    font-size: 18px;
    font-weight: 500;
  }

  
  /* navbar-call   */
  .navbar-call {
    position: relative;
  }

  .navbar-call::after {
    position: absolute;
    content: "";
    top: 10px;
    left: -27px;
    width: 2px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
  }

  /* / off canvas menu collapse /  */
  .toggle-dropdown-active .triangle-top {
    visibility: visible;
    margin-bottom: 15px;
  }

  .toggle-dropdown-active {
    height: auto;
    transition: 0.5s;
  }

  .toggle-dropdown-off .triangle-top {
    visibility: hidden;
  }

  .toggle-dropdown-off {
    height: 0;
    transition: 0.5s;
  }

  .off-canvas-menu {
    padding: 15px;
    max-width: 300px;
    position: fixed;
    top: 0;
    left: -999px;
    transition: 0.5s;
    height: 100%;
    opacity: 0;
  }

  .main-menu-toggle-class {
    top: 0;
    left: 0;
    opacity: 1;
  }

  .navScrollOver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: 0.5s;
    background-color: #f94d1c;
    padding: 10px 0;
  }

  .dropdown-text li a {
    color: #ea580c;
  }

  .nva-social-items a {
    color: black;
  }